footer{
    width: 100%;
    padding: 4em 5% 2em 5%;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;


    & img{
        height: 40px;
        opacity: .3;
    }
}