footer{
    width: 100%;
    padding: 4em 5% 1.5em 5%;
    box-sizing: border-box;
    opacity: .6;

    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1em;

    font-size: var(--fs-300);
}