/* REMOVE DEFAULT */
button{ outline: unset; border: unset; font-family: unset; font-size: unset;}

*{
    margin: 0;
    padding: 0;
    transition-duration: .2s;

    scrollbar-color: var(--scrollColor) var(--bgColor);
}

/* GENERAL */
html, body{
    min-height: 100vh;
    scroll-behavior: smooth;
}
body{
    display: grid;
    grid-template-rows: 1fr fit-content(100%);


    font-family: var(--font-def);
    font-weight: var(--font-regular);
    letter-spacing: 1px;
    hyphens: auto;

    background: var(--bgColor);
    color: var(--textColor);
}



/* TEXT */
h1,h2{ font-family: var(--font-title); }
h2, h3,h4,h5,h6{ font-family: var(--font-headings); }
h1{ font-size: var(--font-xxxl); }
h2{ font-size: var(--font-xxl); }
h3{ font-size: var(--font-xl); }
h4{ font-size: var(--font-l); }

p{ 
    font-size: var(--font-s);
    line-height: 150%;
}

blockquote{
    padding-left: var(--space-s);
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    border-left: var(--border-l) solid var(--primary);
}

/* Interactive (link, button, accordion) */
a{
    color: unset;
    text-decoration: none;
    font-weight: var(--font-bold);

    &:hover{
        color: var(--primary);
    }
}
button, [role=button]{
    box-sizing: border-box;
    padding: var(--space-s);
    display: inline-block;

    background: var(--primary);
    color: var(--black);
    font-weight: var(--font-bold);

    border: var(--border-def);
    box-shadow: 4px 4px 0 0 var(--borderColor);

    &:hover{
        color: var(--black);
        box-shadow: none;
        translate: 4px 4px;
        cursor: pointer;
    }
}
details{
    box-shadow: var(--box-shadow-def);
    cursor: pointer;
    border: var(--border-def);

    summary{
        padding: var(--space-s);

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--space-s);

        background: var(--primary);
        color: var(--black);

        &::after{
            content: "arrow_drop_down";
            font-family: var(--font-icon);
            font-size: var(--font-l);
            transition: .4s;
        }
    }
    &:open summary::after { transform: rotate(180deg); }
    
    .details-content{
        border-top: var(--border-def);
        > *{ 
            padding: var(--space-xs) var(--space-s);
            background: var(--bgColor); 
        }
        max-height: 0;
    }
    &:open .details-content{ max-height: 100%; }


    .code-toolbar{ 
        padding: 0; 
        pre{
            border: none !important;
            box-shadow: none !important;
            margin: 0;
        }
    }
}

/* Lists */
ol, ul{
    display: flex;
    gap: var(--space-s);

    &.column{ flex-direction: column; }
    &.row{ flex-direction: row; }

    :is(ol, ul){
        margin-top: var(--space-xs);
        margin-left: var(--space-m);
    }
}
li{
    list-style: none;
}



/* IMAGES */
img, svg{
    display: block;
}



/* ETC */
code{
    padding: var(--space-xxs);
    background: var(--borderColor);
    color: var(--white);
    font-family: var(--font-code);
}







/* BIG THREE (header, main, footer) */

/* header.css */

#to-top{
    z-index: 98;
    height: 50px;
    aspect-ratio: 1;
    position: fixed;
    inset: auto var(--space-m) var(--space-m) auto;
    font-size: var(--font-l);
    padding: var(--space-xs);
    text-align: center;
    font-family: var(--font-icon);

    opacity: 0;
    &.show{ opacity: 1; }
}

main{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    > section:first-child{
        padding-top: var(--height-header);
    }
}


footer{
    width: 100%;
    padding-block: var(--space-l) var(--space-s);

    color: var(--textColor);
    text-align: center;
    font-size: var(--font-xs);
    opacity: var(--opacity-m);
}





/* ELEMENTS */
section{
    box-sizing: border-box;
    width: 100%;
    
    padding-block: var(--space-m);
    padding-inline: var(--min-sides);
    
    > *{
        width: 100%;
        max-width: var(--max-width);
        justify-self: center;
        margin-inline: auto;

        display: flex;
        flex-direction: column;
        gap: var(--space-s);
    }
}

article{
    max-width: var(--max-width-article);
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    
    a{
        text-decoration: var(--border-xs) underline var(--primary);
        text-underline-position: from-font;
        transition: .3s, text-decoration 0s;
        &:hover{ text-decoration:none; }
    }

    figure{
        align-self: center;
        width: fit-content;
        margin-block: var(--space-xs);

        border: var(--border-def);
        box-shadow: var(--box-shadow-def);

        *:not(:nth-child(1)){
            border-top: var(--border-def);
        }
        
        img{
            width: fit-content;
            max-width: 100%;
            max-height: 40vh;
            object-fit: contain;
        }
        figcaption{
            width: min-content;
            min-width: 100%;
            padding-block: var(--space-xs);

            background: var(--primary); color: var(--black);
            text-align: center;
        }

        &:has(.code-toolbar){
            width: 100%;
        }
        .code-toolbar > pre{
            margin: 0;
            border: 0;
            box-shadow: none;
        }
    }
}

.bold{
    font-weight: var(--font-bold);
}
.icon{
    font-family: var(--font-icon);
}

.box{
    position: relative;
    box-sizing: border-box;
    padding: var(--space-s);

    display: flex;
    flex-direction: column;
    gap: var(--space-xs);

    border: var(--border-def);
    box-shadow: var(--box-shadow-def);

    & h3{ margin-bottom: var(--space-s); }


    &.note, &.tip, &.warning, &.caution{
        padding-left: var(--space-xl);

        &::before{
            position: absolute;
            aspect-ratio: 1;
            top: min(5%, var(--space-s));
            left: calc(-1 * var(--space-s));
            width: var(--font-xxl);
            
            padding: var(--space-xs);
            
            display: flex;
            justify-content: center;
            align-items: center;
            
            color: var(--black);
            font-family: var(--font-icon);
            font-size: var(--font-xl);
            
            border: var(--border-def);
            box-shadow: var(--box-shadow-def);
        }
        &::after{
            content: "";
            position: absolute;
            border-right: 15px solid var(--black);
            border-bottom: 15px solid transparent;
            transform-origin: center;
            
            top: calc(min(5%, var(--space-s)) + var(--font-xxl) + 1.36rem);
            left: calc(-1 * var(--space-s));
        }
        
        @media only screen and (max-width: 400px) {
            padding-left: var(--space-s);
            padding-top: var(--space-l);
            
            &::before{
                left: min(5%, var(--space-s));
                top: calc(-1 * var(--space-s));
            }
            &::after{
                top: calc(-1 * var(--space-s));
                left: calc(min(5%, var(--space-s)) + var(--font-xxl) + 1.36rem);
                border: none;
                border-left: 17px solid var(--black);
                border-top: 15px solid transparent;
            }
        }
    }
    &.note{ background: rgba(var(--rgb-blue), var(--opacity-s));
        &::before{
            content: "info";
            background: var(--blue);
        }
    }
    &.tip{ background: rgba(var(--rgb-green), var(--opacity-s));
        &::before{
            content: "lightbulb_circle";
            background: var(--green);
        }
    }
    &.warning{ background: rgba(var(--rgb-yellow), var(--opacity-s));
        &::before{
            content: "warning";
            background: var(--yellow);
        }
    }
    &.caution{ background: rgba(var(--rgb-red), var(--opacity-s));
        &::before{
            content: "report";
            background: var(--red);
        }
    }
}





/* THEME */
.bg2{
    background: var(--bgColor2);
}

.grid{
    background-size: 48px 48px !important;
    background-image:
        linear-gradient(to right, rgba(var(--_gridColor, var(--rgb-white)), var(--opacity-xxs)) 1px, transparent 0),
        linear-gradient(to bottom, rgba(var(--_gridColor, var(--rgb-white)), var(--opacity-xxs)) 1px, transparent 0) !important;      
}
.dotgrid{
    background-size: 48px 48px !important;
    background-image: radial-gradient(rgba(var(--_gridColor, var(--rgb-white)), var(--opacity-xxs)) 1px, transparent 0) !important;
}
body:not(.dark){ --_gridColor: var(--rgb-black); }