header{
    z-index: 5;
    padding-inline: 5%;
    
    position: fixed;
    width: 90%;
    top: 0;
    left: 0;
    
    height: 75px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background: var(--bgColor);
    transition: background-color var(--speed-quick);
    
    color: var(--textColor);
    font-size: var(--fs-500);
    font-weight: 600;
}


header #logolink, header img{
    height: 46px;
    transition: var(--speed-def);
}
body.light-mode header img{
    content: url(/img/nj_black.png);
}

header #logolink{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
header #logolink.hidden{
    transform: translateY(-100px);
    transition: all var(--speed-slow);
}
header #logolink.show{transform: translateY(0);}


header nav{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 3.5rem;
}


header.noBg{
    background-color: transparent;
    
    & img{
        content: url(/img/nj_white.png) !important;
    }
    & button{
        color: var(--white) !important;
    }
}




/* MOBIL */
@media only screen and (max-width: 1200px) {
    
}
@media only screen and (max-width: 550px) {
}