header{
    z-index: 99;
    box-sizing: border-box;
    position: fixed;
    top: var(--space-s);
    inset: var(--space-s) 0 auto 0;


    width: 100%;
    margin-inline: auto;
    max-width: calc( var(--max-width) + 2 * var(--space-s));
    padding: var(--space-xs) var(--space-s);
    
    display: flex;
    justify-content: left;
    align-items: center;
    gap: var(--space-m);
    
    background: var(--headerBgColor);
    color: var(--headerColor);
    
    border: var(--border-def);
    box-shadow: var(--box-shadow-def);

    #logolink{
        display: block;

        #logo{
            height: var(--logo-size);
            fill: var(--headerColor);

            &:hover{ fill: var(--primary); }
        }
    }

    nav ul li{
        display: flex;
        align-items: center;

        &:not(:nth-child(1))::before{
            content: "keyboard_arrow_right";
            margin-right: var(--space-s);
            font-family: var(--font-icon);
            font-weight: bold;
        }
    }

    #functions{
        margin-inline: auto 0;
        display: flex;
        align-items: center;
    }

    #hamburger{
        --_transition-speed: 0.2s;
        background: transparent; border: none; box-shadow: none; translate: none; padding: 0;
        margin-block: var(--space-xs);
        width: 30px;
        height: 30px;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        position: relative;

        div{
            width: 30px;
            height: 5px;
            background: var(--textColor);

            &:nth-child(3){
                position: absolute;
                top: 40%;
            }

            &:nth-child(1), &:nth-child(4){ transition: translate var(--_transition-speed) var(--_transition-speed), opacity 0s var(--_transition-speed); }
            &:nth-child(2), &:nth-child(3){ transition: rotate var(--_transition-speed); }
        }
    }

    @media only screen and (max-width: 1200px) {
        top: 0;
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding-inline: var(--min-sides);

        border-top: 0;
        border-inline: 0;
        border-bottom: var(--border-l) solid var(--borderColor);
        box-shadow: none;

        /* #hamburger{ display: flex; } */
        nav{ display: none; }

        /* &.open{
            #hamburger{     
                margin-bottom: 0;
                
                div:nth-child(1), div:nth-child(4){
                    opacity: 0;
                    transition: translate var(--_transition-speed), opacity 0s var(--_transition-speed);
                }
                div:nth-child(1){ translate: 0 12px; }
                div:nth-child(4){ translate: 0 -12px; }

                div:nth-child(2), div:nth-child(3){
                    transition: rotate var(--_transition-speed) var(--_transition-speed);
                }
                div:nth-child(2){ rotate: z 45deg; }
                div:nth-child(3){ rotate: z -45deg; }
            }


            nav, #functions, #logolink{
                display: flex;
            }
        } */
    }
}