main{
    display: grid;
    grid-template-areas:
    'fej things';
    grid-template-columns: 40fr 60fr;
}

#fej{
    grid-area: fej;
    
    margin-block: 40px 7svh;
    padding-inline: 20% 0;
    height: 70svh;

    align-items: start;
    gap: 0;


    
    & h1{
        letter-spacing: 5px;
    }

    & h3{
        margin: -.25em 0 0 1rem;
        
        font-size: var(--fs-400);
        font-weight: 400;
        font-family: var(--f-content);
        opacity: .5;
    }

    & a{
        opacity: .1;

        &:hover{
            opacity: .8;
        }
    }

    & img{
        height: 25px;
        filter: invert(99%) sepia(2%) saturate(991%) hue-rotate(104deg) brightness(95%) contrast(98%);
    }

    & .social-media{
        margin-left: 20px;
        display: flex;
        justify-content: left;
        align-items: center;
        gap: .5em;
    }
}
body.light-mode #fej img{
    filter: invert(0%) sepia(3%) saturate(7407%) hue-rotate(37deg) brightness(100%) contrast(94%);
}



#things{
    grid-area: things;
    height: 70svh;
    margin-block: 40px 7svh;
    padding-inline: 2% 20%;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: left;
    gap: 1em;
    
    text-align: left;
}






/* MOBIL */
@media only screen and (max-width: 1200px) {
    main{
        display: grid;
        grid-template-areas:
        'fej'
        'things';
        grid-template-columns: 1fr;
    }

    #fej{
        height: 40svh;
        padding: 0;
        align-items: center;
    }
    #things{
        height: auto;
        padding: 0;
        align-items: center;

        text-align: center;
    }
}
@media only screen and (max-width: 550px) {
    main{
        display: flex;
    }
    #fej{
        display: none;
    }
}