<header>
        <a href="/" id="logolink" class="hidden">
            <svg id="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 700 700">
                <path d="m 175.81977,164.42694 v -35 h -113 v 320 h 117 c 0,-56 -17,-143 2,-196 11,-32 58,-50 89,-40 39,12 32,62 32,94 0,70 -17,195.99999 30,241.99999 52,78 225,92 283,-11 14,-28 22,-45 24,-104.99999 l -1,-304 h -127 c 3,59 17,128 20,227 0,21 -1,66 -4,92 -4,29.99999 -18,44.99999 -27,50.99999 -21,15 -50,12 -71,-15 -18,-23.99999 -11,-57.99999 -11,-90.99999 0,-98 33,-257 -105,-272 -21,-2 -42,-2 -62,2 -29,6 -54,20 -76,41"/>
                <path d="m 114.81977,486.42693 c -81,8 -68,134 13,125 81,-8 68,-134 -13,-125 z"/>
            </svg>
        </a>
        <nav>
            <ul>
            </ul>
        </nav>
        <div id="functions">
            <button id="theme-button" title="Téma váltás" aria-label="Téma váltás">
                <svg xmlns="http://www.w3.org/2000/svg">
                    <rect id="sun" width="30%" height="30%" x="35%" y="35%"/>
                    <!-- <rect class="ray top" width="10%" height="15%" x="46%" y="8%"/>
                    <rect class="ray bot" width="10%" height="15%" x="46%" y="78%"/>
                    <rect class="ray lef" width="15%" height="10%" x="8%" y="46%"/>
                    <rect class="ray rig" width="15%" height="10%" x="78%" y="46%"/> -->
                </svg>
            </button>
        </div>
        <!-- <button id="hamburger">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </button> -->
    </header>