.doc-card{
    position: relative;
    margin: 1em;
    height: 300px;

    box-shadow: 0 10px 30px -15px rgba(125,125,125,.2);
    transition: .3s ease;
    cursor: pointer;
}
.doc-card:hover{
    color: var(--white);
}
.doc-card::after{
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
    box-shadow: none;

    transition: .2s ease;
}
.doc-card:hover::after{
    box-shadow: inset 0 -200px 100px -100px rgba(0,0,0,.3);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}
.doc-card:hover > h3{
    opacity: 1;
}



.doc-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.doc-card h3{
    width: 75%;
    position: absolute;
    bottom: .75em;
    left: .75em;

    font-family: var(--wsans);
    font-size: 20pt;
    font-weight: 600;
    color: var(--white);

    z-index: 3;
    opacity: 0;
}