:root{
    /* colors */
    --black: #080808;
    --l-black: #141414;
    --d-gray: #1d1d1d;
    --lgray: #6E8189;
    --white: #e0f1ef;
    --primary: #2ca08f; /* zold */
    --yellow: #ffdd35;
    
    /* fonts */
    --prompt: 'Prompt', sans-serif;
    --wsans: 'Work Sans', sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root{
        --primary: #53b9aa;
    }
}
/* @media (prefers-color-scheme: light) {
    :root{
        --primary: #2ca08f;
        --black: #e0f1ef;
        --white: #000;
    }
} */



*{
    margin: 0;
    padding: 0;
    font-family: var(--wsans);
}




html, body{height: 100%;}
body{
    background-color: var(--black);
    color: var(--white);
    display: grid;
    grid-template-rows: fit-content(100%) 1fr fit-content(100%);
}
main{
    margin-top: 60px;
}

h1,h2,h3{
    width: fit-content;
    font-family: 'Prompt', sans-serif;
    line-height: 100%;
    font-weight: 600;
}
h1{
    font-size: 42pt;
    letter-spacing: 2px;
    word-spacing: 10px;
}
h2{
    font-size: 32pt;
    margin-bottom: .5em;
}
h3{font-size: 24pt;}
h4{font-size: 20pt;}
h5{color: rgb(var(--white), .5);}

p{
    font-size: 14pt;
    opacity: 90%;
}
    
a{
    color: inherit;
    text-decoration: none;
    transition: .2s;
}
a:hover, button:hover > a{
    color: var(--primary);
    filter: none;
}

button{
    margin: 2em;
    padding: 1em;
    background-color: var(--primary);
    color: var(--black);

    font-weight: 700;
    font-size: 16pt;
    border: none;
    border-radius: 10px;

    transition: .2s;
    cursor: pointer;
}
button:hover{
    background-color: var(--white);
    transform: translateY(-2px);
}

li{list-style: none;}

svg{
    position: relative;
    height: 800px;}
    
    
    
.hidden{opacity: 0;}
.show{opacity: 1;}

.active{
    color: var(--primary);
    filter: contrast(.5);
}