:root{
    /* colors */
    --black: #000;
    --gray: #283a42;
    --lgray: #6E8189;
    --white: #fff;
    --green: #2ca08f;
    --yellow: #ffdd35;
    
    /* fonts */
    --mmoderno: 'MuseoModerno', cursive;
    --wsans: 'Work Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--wsans);
}

html, body{height: 100%;}
body{
    background-color: var(--black);
    color: var(--white);
    display: grid;
    grid-template-rows: fit-content(100%) 1fr fit-content(100%);
}
main{
    margin-top: 60px;
}

h1,h2,h3{
    font-family: 'Prompt', sans-serif;
    line-height: 100%;
    width: fit-content;
}
h1{
    font-size: 50pt;
    font-weight: 700;
    letter-spacing: 5px;
    word-spacing: 20px;
}
h2{
    font-size: 45pt;
    margin-bottom: .5em;
}
h3{font-size: 40pt;}
h4{font-size: 30pt;}
h5{color: rgb(var(--white), .5);}

p{
    font-size: 14pt;
    opacity: 90%;
}
    
a{
    color: inherit;
    text-decoration: none;
    transition: .2s;
}
a:hover, button:hover > a{
    color: var(--green);
    filter: none;
}

button{
    margin: 2em;
    padding: 1em;
    background-color: var(--green);
    color: var(--black);

    font-weight: 700;
    font-size: 16pt;
    border: none;
    border-radius: 10px;

    transition: .2s;
    cursor: pointer;
}
button:hover{
    background-color: var(--white);
    transform: translateY(-2px);
}

li{list-style: none;}

svg{
    position: relative;
    height: 800px;}
    
    
    
.hidden{opacity: 0;}
.show{opacity: 1;}

.active{
    color: var(--green);
    filter: contrast(.5);
}