#square-deck{
    margin-top: 4em;
    width: 85%;

    grid-gap: 1em 1em;
    display: grid;
    gap: 5em 1em;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}

.square-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.square-card img{
    height: 250px;
}
.square-card h3{
    font-family: var(--wsanss);
    font-size: 28pt;
}
.square-card p{
    margin-top: 10px;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */
@media (max-width: 768px){
    #square-deck {
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    }
}