:root{
    /* colors */
    --black: #000;
    --gray: #283a42;
    --lgray: #6E8189;
    --white: #fff;
    --green: #2ca08f;
    --yellow: #ffdd35;
    

    /* fonts */
    --mmoderno: 'MuseoModerno', cursive;
    --wsans: 'Work Sans', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--wsans);
}
html, body{height: 100%;}
body{
    background-color: var(--white);
    display: grid;
    grid-template-rows: fit-content(100%) 1fr fit-content(100%);
}


section, footer{
    padding-inline: 10%
}




footer{
    padding-top: 1em;
    background-color: var(--black);
    text-align: center;
    color: var(--white);
}
footer img{
    opacity: 10%;
}