#cim{
    height: 45vh;

    flex-direction: row;
    justify-content: space-between;

    background-image: url('../img/other/bg.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center right;
}
#cim h1{
    margin-left: 10rem;
}
#cim svg{
    height: 100%;
    margin-right: 5rem;
}