header{


    & .left{
        display: flex;
        justify-content: left;
        align-items: center;
        gap: 1em;


        & span{
            margin-bottom: 2px;

            font-size: var(--fs-600);
            font-weight: 400;
        }
    }
}



main{
    padding-top: 5em;
    padding-inline: clamp(2em, 10%, 10%);

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: left;
    align-items: flex-start;
    gap: 5em 10%;

    
    
    & section{
        padding-inline: 0;

        align-items: flex-start;


        & > h2{
            align-self: center;
        }
    }
    
    & a{
        width: 100%;
    }

    & button{
        width: 100%;

        background-color: transparent;
        color: var(--textColor);
        
        display: flex;
        justify-content: left;
        align-items: center;

        text-align: left;
        
        border: 2px solid var(--textColor);
        border-radius: var(--br-def);
        
        transition: var(--speed-quick);
        cursor: pointer;
    
        &:hover{
            background-color: transparent;
            transform: translateY(0) translateX(5px);


            & .right{
                margin-left: 0;
            }
        }


        & h2{
            width: 40px;
            margin: 0;
            opacity: .25;
        }
        & .right{
            margin-left: -1em;
            
            transition: margin var(--speed-def);
        }
    }
}








/* MOBIL */
@media only screen and (max-width: 1200px) {
    main{
        padding-inline: 15%;

        grid-template-columns: 1fr;
    }
}
@media only screen and (max-width: 550px) {
    header{
        & .left{
            & #logolink, span{
                display: none;
            }
        }
    }
    main{
        padding-inline: 5%;
    }
}