#cim{
    margin-block: -100px 5em;
    padding: 0;
    height: 450px;

    gap: 0;

    text-align: center;
    color: var(--white);

    background: linear-gradient(to bottom, transparent, 80%, var(--bgColor)), url(../../img/things/torierettsegi.jpg);
    background-position: center;
    background-size: cover;



    & h1{
        font-size: var(--fs-x10);
        transition: none;
    }
    & h2{
        margin-bottom: 0;
        opacity: .8;

        font-size: var(--fs-x8);
        font-weight: 500;
        transition: none;
    }
}



#osszefoglalo article{
    padding: 3em 7em;
    width: calc(100% - 14em);

    display: flex;
    align-items: center;
    gap: 4em;

    background-color: var(--bgLight);
    border-radius: 20px;

    transition: .2s;

    &:hover{
        background-color: var(--highlight);
    }



    & img{
        height: 55vh;
    }

    & .leiras{
        height: 60vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    & .impresszum{
        display: flex;
        flex-direction: column;
        gap: 1.5em;


        & h4{
            margin-block: 2em -.25em;
            font-weight: 600;
        }
        & strong{
            font-weight: 600;
        }
    }

    & .linkek{
        display: flex;
        margin-top: 4em;
        gap: 2em;



        & button{
            margin: 0;
        }
    }
}


#gyakorlas{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));



    & a{
        height: 100%;
    }
    
    & button{
        height: 100%;
        width: 100%;
        align-items: center;

        font-size: var(--fs-500);
        text-align: left;
    }

    & span{
        font-size: 100px;
    }

    & #quizlet button{
        color: var(--white);
        background-color: #4755cb;

        &:hover{
            background-color: #6672e0;
        }
    }

    & #sheets button{
        color: var(--white);
        background-color: #34A853;

        &:hover{
            background-color: #53b36d;
        }
    }
}


@media only screen and (max-width: 1200px) {
    #osszefoglalo article{
        padding-bottom: 7em;
        flex-direction: column;
        gap: 1;
    }
}
@media only screen and (max-width: 750px) {
    #gyakorlas{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
    }
}