header nav ul li:not(:nth-child(1))::before{
    content: "";
}

main{
    section > div{
        align-items: center;
    }
    /* justify-self: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: flex-start;
    max-width: var(--max-width);

    #hero{
        padding-top: 0;
    }
    #things{
        padding-top: var(--height-header);
        align-self: flex-start;
        text-align: center;

        a{
            font-size: var(--font-m);
        }
    } */

    #hero{
        height: 90vh;
        & > div{
            height: 90%;
            justify-content: center;
        }

        .box{
            padding: 0 0 0 var(--space-s);
            display: grid;
            align-items: self-end;
            background: var(--primary);
            line-height: 0.8;
            border: solid var(--border-l) var(--borderColor);

            img{
                height: 40vh;
                grid-column: 2;
            }
        }
    }

    #things{
        height: 10vh;
        padding-block: 0;
        background: var(--black);
        border: var(--border-def);

        & > div{
            height: 100%;
            flex-direction: row;
            justify-content: center;
        }

        & a{
            height: fit-content;
        }
    }

    #studies{
        h2{
            padding-block: var(--space-s) var(--space-m);
        }
        .box{
            width: 100%;
            flex-direction: row;
            align-items: center;
            gap: var(--space-m);

            & > img{
                padding-inline: var(--space-s);
            }
        }
    }
}

body.dark img{
    filter: invert(1);
}


@media only screen and (max-width: 800px) {
    main{
        display: flex;

        #hero{
            .box{
                padding: var(--space-s) 0 0 0;

                img{
                    grid-column: 1;
                    grid-row: 2;
                }
            }
        }
        #things{
            height: fit-content;
            padding-block: var(--height-header) var(--space-l);
            & > div{
                flex-direction: column;
            }
        }
        #studies > div{
            .box{
                flex-direction: column;
                text-align: center;
            }
        }
    }
}
/* @media only screen and (max-width: 1200px) {
    header{ visibility: visible; }
    main{
        display: flex;

        #hero{ display: none; }
    }
} */